*

!Dockerfile
!mimid-llvm14.patch
!.dockerignore
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!setup.py
!setup.cfg
!fetch_example_programs.sh
!run_experiment.sh
!src/
!src/**
!example_programs/
!example_programs/**

**/.git
**/.git/**
**/__pycache__
**/__pycache__/**
**/*.py[cod]
**/*.egg-info
**/*.egg-info/**
**/.pytest_cache
**/.pytest_cache/**
**/.mypy_cache
**/.mypy_cache/**
**/.ruff_cache
**/.ruff_cache/**
**/build
**/build/**
**/dist
**/dist/**
